.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(22,22,24);
    color: white;
    height: 50px;
    align-items: center;
}

.navbar a:hover {
    color: lightgray;
}

.navbar-left {
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.navbar-center {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-left: 350px;
}

.flickr-dots {
    height: 10px;
    margin-right: 5px;
    margin-top:14px;
}

.glimmr {
    margin-bottom: 8px;
}

.nav-home-btn {
    display: flex;
    flex-direction: row;
}

.nav-items {
    margin: 0 25px;
}

.upload-button {
    font-size: 25px;
}
